*{
    font-family: poping, sans-serif;
    box-sizing: border-box;
    margin: 0%;
}
body{
    background-color: rgb(181, 182, 181);
    margin: 2rem;
}
h1{
    color: rgb(209, 23, 23);
    text-align: center;
    font-size: 3.5rem;
    height: 3rem;
    justify-content: center;
}
h1:hover{
    color: #810808;
    transition: 0.3s;
    font-size: 5rem;
}
.Hotel{
    display: flex;
    padding-top: 5rem;
    color: seashell;
    font-size: 1.5rem;
    width: 100%
}
li{
    padding: 1.2rem;
    color: white;
    list-style-type: none;
    justify-content: space-between;
}
.Hotel_1{
    list-style-image: url('Loving-Heart.png');
}
.Hotel_2{
    list-style-image:url('sarangi_veg.jpg')
}
.Hotel_3{
     list-style-image: url('Aniyor.jpg');
}
.Hotel_5{
    list-style-image: url('or2k.jpg');
}
.Hotel_6{
    list-style-image: url('');
}